node_modules
.history
yarn.lock
javascript_starterkit/*
Python/.vscode/settings.json
.idea/workspace.xml
.idea/vcs.xml
.idea/modules.xml
.idea/misc.xml
.idea/libraries/R_User_Library.xml
.idea/encodings.xml
.idea/dictionaries/toanb.xml
.idea/AdventKoding.iml
