node_modules
.history
yarn.lock
javascript_starterkit/*
Python/.vscode/settings.json
.idea/workspace.xml
.idea/vcs.xml
.idea/modules.xml
.idea/misc.xml
.idea/libraries/R_User_Library.xml
.idea/encodings.xml
.idea/dictionaries/toanb.xml
.idea/AdventKoding.iml
Python/Day2/.idea/modules.xml
Python/Day2/.idea/misc.xml
Python/Day2/.idea/inspectionProfiles/Project_Default.xml
Python/Day2/.idea/inspectionProfiles/profiles_settings.xml
Python/Day2/.idea/vcs.xml
Python/Day2/.idea/Day2.iml
*.xml
